---
interface Props {
  frontmatter: {
    title: string;
    author: string;
    pubDate: string;
    description: string;
    image: {
      url: string;
      alt: string;
    };
    tags: string[];
  };
}

const { frontmatter } = Astro.props;
---

<h1>{frontmatter.title}</h1>
<p>Published on: {frontmatter.pubDate.slice(0, 10)}</p>
<p>
  Tags:
  <ul>
    {frontmatter.tags.map((tag) => <li>{tag}</li>)}
  </ul>
</p>
<p><em>{frontmatter.description}</em></p>
<p>Written by {frontmatter.author}</p>
<img src={frontmatter.image.url} alt={frontmatter.image.alt} />
<slot />
